html {
	width: 99%;
	height: 99%;
	margin: 0px;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
}

#sidecol {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 300px; /*Width of frame div*/
	height: 100%;
	overflow: auto;
	background: #686868;
	color: white;
	border-left-width: thick;
	border-left-color: white;
	border-left-style: solid;
}

#map {
	position: fixed;
	top: 0;
	left: 0;
	right: 305px; /*Set right value to WidthOfFrameDiv*/
	bottom: 0;
	overflow: hidden;
	background: #fff;
}

#topsection {
	position: absolute;
	top: 0;
	left: 0;
	right: 305px; /*Set right value to WidthOfFrameDiv*/
	background: #EAEAEA;
	height: 35px; /*Height of top section*/
}

.innertube {
	margin: 7px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

.title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	/*background-color: #b0e0e6;*/
}

.abstract {
	text-transform: capitalize;
	font-size: 15px;
	font-style: italic;
	/*background-color: #b0e0e6;*/
}

.others {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 15px;
	/*background-color: #b0e0e6;*/
}

.center {
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*background-color: #b0e0e6;*/
}

#divTitle{
	width:700px;
	margin: 10px auto;
}

.divKwickInner {
	padding:5px;	
	float:left;
}

.divKwickImage {
	font-size: x-large;
	font-weight: bold;
}

.divKwickContent{
	float:right;
	padding:5px;
}

.btnHyperlink {
    background:none;
    border:0;
    text-decoration:underline;
    color:blue;
    cursor:pointer
}

/* TITLE MENU ANIMATION */

.kwicks {
	display: block;
	list-style-type: none;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.kwicks > * {
	display: block;
	overflow: hidden;
	padding: 0px;
	margin: 0;
	
	width: 85px;
	height: 80px;
	background-color: #FFFFFF;
	color: black;
}
.kwicks.kwicks-processed > * {
	margin: 0;
	position: absolute;
}
.kwicks-horizontal > * {
	float: left;
}
.kwicks-horizontal > :first-child {
	margin-left: 0;
}
.kwicks-vertical > :first-child {
	margin-top: 0;
}
